.end-box 
    .end-box__item 
        .end-box__item-messengers
            .icon-box
                <img src="images/sprite.svg#In" class="svg-In-dims" alt="In">
            .icon-box 
                <img src="images/sprite.svg#ins" class="svg-ins-dims" alt="ins">
        .end-box__item-bottom 
            .end-box__item-bottom-date © Question Base 2022 • Created in Denmark
            .end-box__item-bottom-links 
                .links-support Support
                .links-privacy Privacy Policy
                .links-terms Terms of Use