.time-answering
    .container
        .time-answering__title Most team leads spend their time answering the same questions over and over. Not anymore.
        .time-answering__box 
            .time-answering__box-item1.borders
                .time-answering__box-item__number 01
                .time-answering__box-item__name Scale up <br> knowledge
                .time-answering__box-item__text Your Slack contains a wealth of knowledge. Question Base’s AI uncovers and surfaces these insights to your team.   
            .time-answering__box-item2.borders
                .time-answering__box-item__number 02
                .time-answering__box-item__name Reduce interruptions
                .time-answering__box-item__text Let people get the answers they need without interrupting the work of others. Right from inside Slack.
            .time-answering__box-item3.borders
                .time-answering__box-item__number 03
                .time-answering__box-item__name Grow <br> Organically
                .time-answering__box-item__text There’s no extra work involved. Once you add Question Base to a Slack channel it will automatically start answering to questions.