menu.menu
    .container
        .main_menu
            button.main_menu-btn#burger
                span 
                span 
                span  
            ul.menu_btns.menu_inner 
                li
                    a.how_it_works how it works
                li
                    a.pricing Pricing
                li
                    a.benefits Benefits 
            .right_menu.menu_inner 
                a.sign_up_btn sign up  