.hero 
    .container 
        .hero_photo 
             .hero_photo1
                picture 
                    source(srcset="../images/3.avif" type="image/avif")
                    source(srcset="../images/3.webp" type="image/webp")
                    img(src="../images/3.png" alt="Description of image")
             .hero_photo2  
                 img(src= '../images/2.webp', '../images/2.png')
        h1.hero_title Scale knowledge
        p.hero_text Question Base is a new kind of knowledge base. Powered by AI it answers your team’s questions inside Slack. Automatically.
        .sign_up-green_btn
            a.sign_up-green sign up