.leave-contacts
    .leave-contacts-box
        .leave-contacts__title Scale knowledge effortlessly.
        .leave-contacts__text We are gradually rolling out Question Base to teams. Leave your contacts and be the first to know.
        .leave-contacts__input 
            input
        .leave-contacts__input
            input 
        .leave-contacts__input
            input
        .leave-contacts__agree 
            input(type="checkbox", id="agreement")
            .leave-contacts__agree-con I agree with Question Base's
            .leave-contacts__agree-privaty Privacy Policy
        .leave-contacts__btn 
    .leave-contacts-img
        img(src='../images/flow.avif', '../images/flow.webp', '../images/flow.png')