include ../components/head

body 
    include ../blocks/main_menu/main_menu
    include ../blocks/hero/hero           
    include ../blocks/quote-black/quote
    include ../blocks/question-answer/question-answer
    include ../blocks/pricing-yelow/pricing
    include ../blocks/quote2-blue/quote2
    include ../blocks/time-answering/time-answering
    include ../blocks/leave-contacts/leave-contacts
    include ../blocks/end/end

include ../components/footer 