@font-face {
  font-family: "inter";
  src: url("../fonts/inter-Regular.woff2") format("truetype");
  src: url("../fonts/inter-Regular.woff") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-regular.woff2");
  src: url("../fonts/Roboto-regular.woff");
  font-weight: 400;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inter;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  padding: 0 60px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.main_menu-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: black;
  margin: 15px;
  cursor: pointer;
  border-radius: 15px;
}
@media screen and (max-width: 539px) {
  .main_menu-btn {
    display: block;
  }
}
.main_menu-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  left: 5px;
  -webkit-transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s, -webkit-transform 0.5s;
}
.main_menu-btn span:nts-child(1) {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
.main_menu-btn span:nts-child(3) {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
  background-color: rgb(250, 250, 250);
  height: 70px;
  border-radius: 16px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 32px;
  padding-right: 16px;
}
.main_menu .menu_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media screen and (max-width: 539px) {
  .main_menu .menu_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    color: #fff;
    position: absolute;
    left: -207px;
    top: 55px;
    gap: 5px;
    width: 147px;
    border-radius: 15px;
  }
}
.main_menu .menu_btns li {
  list-style: none;
}
@media screen and (max-width: 539px) {
  .main_menu .menu_btns li {
    padding: 15px;
  }
}
.main_menu .menu_btns a {
  cursor: pointer;
}
.main_menu .right_menu .sign_up_btn {
  color: #fff;
  background-color: black;
  text-transform: uppercase;
  padding: 15px 32px 16px 32px;
  border-radius: 32px;
  font-size: 14px;
  line-height: 14.4px;
  cursor: pointer;
}
@media screen and (max-width: 459px) {
  .main_menu .right_menu .sign_up_btn {
    font-size: 14px;
    padding: 5px 5px 5px 5px;
  }
}
@media screen and (max-width: 539px) {
  .main_menu .menu_btns.open {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .main_menu .menu_btns.open span:nts-child(1) {
    -webkit-transform: translateY(0) rotate 45deg;
        -ms-transform: translateY(0) rotate 45deg;
            transform: translateY(0) rotate 45deg;
  }
  .main_menu .menu_btns.open span:nts-child(2) {
    opacity: 0;
  }
  .main_menu .menu_btns.open span:nts-child(3) {
    -webkit-transform: translateY(0) rotate -45deg;
        -ms-transform: translateY(0) rotate -45deg;
            transform: translateY(0) rotate -45deg;
  }
  .main_menu .menu_btns.open span {
    background-color: #fff;
    color: black;
  }
}

.hero_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 136px;
}
@media screen and (max-width: 459px) {
  .hero_photo {
    display: block;
  }
}
@media screen and (max-width: 1279px) {
  .hero_photo {
    padding-top: 0;
  }
}
.hero_photo .hero_photo1, .hero_photo .hero_photo2 {
  padding: 24px;
}

.hero_title {
  font-size: 160px;
  line-height: 160px;
  font-family: roboto;
  text-align: center;
  padding-top: 18px;
  letter-spacing: 10px;
}
@media screen and (max-width: 1499px) {
  .hero_title {
    font-size: 130px;
  }
}
@media screen and (max-width: 1279px) {
  .hero_title {
    font-size: 60px;
    line-height: 55px;
  }
}
@media screen and (max-width: 459px) {
  .hero_title {
    font-size: 30px;
    line-height: 30px;
  }
}

.hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 27px;
  max-width: 453px;
  padding-top: 57px;
  margin-bottom: 38px;
  position: relative;
}
@media screen and (max-width: 459px) {
  .hero_text {
    font-size: 16px;
    text-align: center;
  }
}

.sign_up-green_btn {
  padding-bottom: 138px;
}
.sign_up-green_btn .sign_up-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #0A0A0A;
  background-color: #C6F572;
  text-transform: uppercase;
  padding: 15px 64px 16px 64px;
  border-radius: 40px;
  font-size: 14px;
  line-height: 14.4px;
  cursor: pointer;
}

.quote {
  background-color: black;
  max-width: 100%;
  height: 299px;
}
@media screen and (max-width: 767px) {
  .quote {
    height: 180px;
    text-align: center;
  }
}
.quote .quote-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote .quote-box .quote1 {
  font-size: 30px;
  font-family: roboto;
  line-height: 36px;
  color: #FAF9F7;
  padding: 119px 0 33px 0;
}
@media screen and (max-width: 767px) {
  .quote .quote-box .quote1 {
    font-size: 20px;
    padding: 20px 0 15px 0;
  }
}
.quote .quote-box .quote-name {
  font-size: 14px;
  line-height: 15.6px;
  color: #504F4F;
}

.question-answer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -160px;
}
@media screen and (max-width: 459px) {
  .question-answer-box {
    margin-bottom: -60px;
  }
}
@media screen and (max-width: 1279px) {
  .question-answer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.question-answer-box .question-answer-first .question-answer-first-img {
  margin: 250px 60px 350px 0;
}
@media screen and (max-width: 1279px) {
  .question-answer-box .question-answer-first .question-answer-first-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px 0 15px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.question-answer-box .question-answer-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 165px;
}
@media screen and (max-width: 1279px) {
  .question-answer-box .question-answer-second {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}
.question-answer-box .question-answer-second .question-answer-second-name {
  font-family: roboto;
  font-size: 48px;
  padding-bottom: 90px;
  max-width: 349px;
}
@media screen and (max-width: 1279px) {
  .question-answer-box .question-answer-second .question-answer-second-name {
    max-width: auto;
    padding-bottom: 20px;
  }
}
.question-answer-box .question-answer-second .question-answer-second-text {
  font-size: 17px;
  line-height: 27px;
  max-width: 322px;
  padding-bottom: 18px;
}
@media screen and (max-width: 1279px) {
  .question-answer-box .question-answer-second .question-answer-second-text {
    max-width: auto;
  }
}
.question-answer-box .question-answer-second .question-answer-second-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}
.question-answer-box .question-answer-second .question-answer-second-img .question-answer-second-img_text {
  position: absolute;
  padding-top: 28px;
  color: #504F4F;
  font-size: 12px;
  line-height: 15.6px;
  max-width: 349px;
}
@media screen and (max-width: 459px) {
  .question-answer-box .question-answer-second .question-answer-second-img .question-answer-second-img_text {
    padding-top: 0;
  }
}

.pricing-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #FBF19B;
  max-height: 664px;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .pricing-box {
    text-align: center;
  }
}
.pricing-box .pricing-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  text-align: center;
}
.pricing-box .pricing-message .pricing-name {
  font-family: roboto;
  padding-top: 231px;
  font-size: 57px;
  line-height: 64px;
}
@media screen and (max-width: 767px) {
  .pricing-box .pricing-message .pricing-name {
    font-size: 30px;
    padding-top: 20px;
  }
}
.pricing-box .pricing-message .pricing-text {
  font-size: 16px;
  line-height: 24px;
  padding-top: 40px;
  margin-bottom: 254px;
  max-width: 478px;
}
@media screen and (max-width: 767px) {
  .pricing-box .pricing-message .pricing-text {
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

.quote2 {
  background-color: #D4F2F9;
  max-width: 100%;
  height: 299px;
}
@media screen and (max-width: 767px) {
  .quote2 {
    height: 180px;
    text-align: center;
  }
}
.quote2 .quote2-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote2 .quote2-box .quote1 {
  font-size: 30px;
  font-family: roboto;
  line-height: 36px;
  color: #0A0A0A;
  padding: 119px 0 33px 0;
}
@media screen and (max-width: 767px) {
  .quote2 .quote2-box .quote1 {
    font-size: 20px;
    padding: 20px 0 15px 0;
  }
}
.quote2 .quote2-box .quote-name {
  font-size: 14px;
  line-height: 15.6px;
  color: #504F4F;
}

.time-answering {
  background-color: #0A0A0A;
}
.time-answering .container {
  padding: 0 10px;
}
.time-answering .container .time-answering__title {
  font-family: roboto;
  font-size: 60px;
  line-height: 64px;
  padding: 191px 173px 169px 120px;
  color: #FAF9F7;
}
@media screen and (max-width: 767px) {
  .time-answering .container .time-answering__title {
    padding: 30px 20px 25px 20px;
    text-align: center;
  }
}
@media screen and (max-width: 539px) {
  .time-answering .container .time-answering__title {
    font-size: 30px;
    line-height: 30px;
  }
}
.time-answering .container .time-answering__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding-bottom: 96px;
  margin: 0 66px;
}
@media screen and (max-width: 1279px) {
  .time-answering .container .time-answering__box {
    margin: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .time-answering .container .time-answering__box {
    grid-template-columns: repeat(1, 3fr);
    padding-bottom: 20px;
  }
}
.time-answering .container .time-answering__box .borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 45px 32px 32px;
  border-radius: 12px;
}
.time-answering .container .time-answering__box .borders .time-answering__box-item__number {
  font-size: 14px;
  padding-bottom: 21px;
}
.time-answering .container .time-answering__box .borders .time-answering__box-item__name {
  font-size: 28px;
  padding-bottom: 30px;
}
.time-answering .container .time-answering__box .borders .time-answering__box-item__text {
  font-size: 14px;
}
.time-answering .container .time-answering__box .time-answering__box-item1 {
  background-color: #F4D2DC;
}
.time-answering .container .time-answering__box .time-answering__box-item2 {
  background-color: #FBF19B;
}
.time-answering .container .time-answering__box .time-answering__box-item3 {
  background-color: #DBFAA8;
}

.leave-contacts {
  position: relative;
  background-color: #0A0A0A;
  padding: 240px 180px 96px 180px;
}
@media screen and (max-width: 767px) {
  .leave-contacts {
    padding: 170px 60px 40px 60px;
  }
}
@media screen and (max-width: 459px) {
  .leave-contacts {
    padding: 170px 10px 40px 10px;
  }
}
.leave-contacts .leave-contacts-box {
  position: relative;
  border-radius: 24px;
  z-index: 2;
  background-color: #FBF19B;
  padding: 91px 264px 112px 96px;
}
@media screen and (max-width: 1279px) {
  .leave-contacts .leave-contacts-box {
    padding: 40px 50px 50px 50px;
  }
}
@media screen and (max-width: 539px) {
  .leave-contacts .leave-contacts-box {
    padding: 40px 20px 20px 20px;
  }
}
.leave-contacts .leave-contacts-box .leave-contacts__title {
  font-family: roboto;
  font-size: 48px;
  line-height: 52.8px;
  padding-bottom: 28px;
  max-width: 300px;
}
.leave-contacts .leave-contacts-box .leave-contacts__text {
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 16px;
  max-width: 400px;
}
.leave-contacts .leave-contacts-box .leave-contacts__input {
  max-width: 480px;
  border-bottom: 2px solid;
  max-width: 280px;
}
.leave-contacts .leave-contacts-box .leave-contacts__input input {
  display: block;
  background-color: #FBF19B;
  white-space: nowrap;
  border: none;
  max-width: 480px;
  height: 80px;
  font-size: 48px;
}
@media screen and (max-width: 1279px) {
  .leave-contacts .leave-contacts-box .leave-contacts__input input {
    max-width: 280px;
  }
}
@media screen and (max-width: 459px) {
  .leave-contacts .leave-contacts-box .leave-contacts__input input {
    max-width: 250px;
  }
}
.leave-contacts .leave-contacts-box .leave-contacts__agree {
  padding-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}
.leave-contacts .leave-contacts-box .leave-contacts__agree input {
  border-radius: 4px;
  background-color: #FBF19B;
  cursor: pointer;
}
.leave-contacts .leave-contacts-box .leave-contacts__agree .leave-contacts__agree-con {
  padding-left: 12px;
  padding-top: 4px;
}
.leave-contacts .leave-contacts-box .leave-contacts__agree .leave-contacts__agree-privaty {
  padding-left: 4px;
  padding-top: 4px;
  cursor: pointer;
}
.leave-contacts .leave-contacts-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 103px;
}

.footer-box {
  background-color: #DBFAA8;
  height: 185px;
  width: 100%;
}
.footer-box .footer-box__item {
  margin: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}
.footer-box .footer-box__item .footer-box__item-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 12px;
  cursor: pointer;
}
.footer-box .footer-box__item .footer-box__item-messengers .icon-box img {
  width: 16px;
  height: 16px;
}
.footer-box .footer-box__item .footer-box__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid #000;
}
.footer-box .footer-box__item .footer-box__item-bottom .footer-box__item-bottom-date {
  font-size: 12px;
}
.footer-box .footer-box__item .footer-box__item-bottom .footer-box__item-bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  gap: 12px;
  cursor: pointer;
}