.pricing 
    .container 
        .pricing-message
            .pricing-name Pricing
            .pricing-text Question Base is currently in beta and is free for this time period. There will always be a 30 days no commitment trial and we expect to announce pricing for teams of all sizes in 2023.