.question-answer
    .container 
        .question-answer-box 
            .question-answer-first 
                .question-answer-first-img 
                    img(src= '../images/post-scrin.avif' ,'../images/post-scrin.webp' , '../images/post-scrin.png')
            .question-answer-second 
                .question-answer-second-name Instant answers inside Slack.
                .question-answer-second-text Question Base actively monitors the conversation and discretely answers people when a new question is posted.
                .question-answer-second-img 
                    .question-answer-second-img_text Questions Base AI identifies when a question is posted and provides an answer within 3 sec. 
                    img(src='../images/4.avif' ,'../images/4.webp','../images/4.png')